{% extends 'personal/base.html' %}
{% load static %}
{% block extrahead %}
<title>Experience</title>
    <link rel="stylesheet" href="{% static 'personal/src/exp.css '%}">
{% endblock %}

{% block body %}

<div class="main">
  <div class="row">
    <div class="column">
      <img   class= "ndtvlogo" src="{% static 'personal/images/ndtv.png'%}" alt="NDTV" >
    </div>
    <div class="seperator"></div>
    <div class="column1">
      <p>
        <strong>I have been Working in NDTV since 13 months where i 
            am handling various webpage and viz template using Python,C# and Vizrt.
        </strong>
     </p>
    </div>
        
  </div>
</div>
<div class="Point">
  <ul class="mainlist" >
    <li>
      <dl>
        <dt>Developed Multiple webpage for day to day use in ndtvi intranet in C# and Django</dt>
             <dd>
                 <ul class="desc">
                    <li>
                      Create web page for Prime time aston for Both NDTV INDIA AND 24x7 
                    </li>
                    <li>
                      NAAG HEADLINES  etc.
                    </li>
                    <li>Provided Solutions and support on old webpages on requirement basis</li>
                  

                  </ul>
              </dd>
             
      </dl>          
    </li>
    <li>
      Developed a new look For NEWS FLASHES (A real time Micro Service which pushes live data being entered to our other Team) use webpage to get the data.
    </li>
    <li>Automate the Parsing data Containing Blanket from API platform using python and created a
      batch file to run at scheduled time from task scheduler. </li>
    <li>Developed a Petrol Diesel Dashboard In ndtivi .Parse the data from Api using python and
      analyze the data. (Showing the Changes the Price by One day and one week).</li>
    <li>
      <dl>
        <dt>Developed and Programmed Template applications on Template Wizard( Vizrt )</dt>
             <dd>
                 <ul class="desc">
                    <li>
                      Developed template like meter sach for New <span>Show SACH KI PADTAL </span> . 
                    </li>
                    <li>
                      Developed a dynamic template and aston for  <span>Primetime for NDTV 24x7</span>. Data enter through the pages
                    </li>
                    <li>
                      Developed dynamic <span>Prime time aston for NDTV INDIA and 24x7</span> on ticker interface.Enter data through web page which is right based.
                    </li>
                    <li>
                      Developed On-air templates and elements  aston ,Lband on daily basis
                    </li>                     
                  

                  </ul>
              </dd>
             
      </dl>   
    </li>
    <li>Providing Solution and Support for fixing bugs on old application.</li>
    <li>Coordinating with Designer and Producer Team, to Keep Sponsors and design on track.</li>
    <li>Developed applications for On-Air work on requirement basis</li>
    <li>Efficiently managed various events and queries with team</li>
  </ul>

</div>

</body>


{% endblock %}

    
