{% extends 'personal/base.html' %}
{% load static %}
{% block extrahead %}
<title>Experience</title>
    <link rel="stylesheet" href="{% static 'personal/src/project.css '%}">
{% endblock %}

{% block body %}
<!-- <div class="background">
  <div class="card">
      <img src="{% static 'personal/images/PYTHON.jpg'%}" alt="pthon" />
      <h1>Python </h1>

  </div>
  <div class="card">
    <img src="{% static 'personal/images/c.png'%}"  alt="C#" />
    <h1>C#  </h1>
</div>
<div class="card">
  <img class="ml" src="{% static 'personal/images/m3.png'%}" width="90%" alt="ML" />
  <h1>Machine learning</h1>
</div>
</div> -->



<div class="first hero">
  <img class="hero-profile-img" src="{% static 'personal/images/py.jpg'%}" alt="">
  <div class="hero-description-bk"></div>
  <div class="hero-logo">
    <img src="{% static 'personal/images/3.png'%}" alt="">
  </div>
  <div class="hero-description">
    <p>Fitness Website Using django</p>
  </div>
  <!-- <div  class="hero-date">
    <p>20.02.2019</p>
  </div> -->
  <div class="hero-btn">
    <a href="{% url 'personal:pythn' %}">Learn More...</a>
  </div>
</div>

<div class="second hero">
  <img class="hero-profile-img" src="{% static 'personal/images/C1.png'%}" alt="">
  <div class="hero-description-bk"></div>
  <div class="hero-logo">
    <img src="{% static 'personal/images/c1.png'%}" alt="">
  </div>
  <div class="hero-description">
    <p>Create webpage using c# and application</p>
  </div>
  <!-- <div  class="hero-date">
    <p>20.02.2019</p>
  </div> -->
  <div class="hero-btn">
    <a href="#">Learn More</a>
  </div>
</div>


<div class="third hero">
  <img class="hero-profile-img" src="{% static 'personal/images/m3.png'%}" alt="">
  <div class="hero-description-bk"></div>
  <div class="hero-logo">
    <img src="{% static 'personal/images/3.png'%}" alt="">
  </div>
  <div class="hero-description">
    <p>Use machine algorithm to predict and data analyze</p>
  </div>
  <!-- <div  class="hero-date">
    <p>20.02.2019</p>
  </div> -->
  <div class="hero-btn">
    <a href="#">Learn More</a>
  </div>
</div>

<div class="third hero">
  <img class="hero-profile-img" src="{% static 'personal/images/m3.png'%}" alt="">
  <div class="hero-description-bk"></div>
  <div class="hero-logo">
    <img src="{% static 'personal/images/3.png'%}" alt="">
  </div>
  <div class="hero-description">
    <p>Use machine algorithm to predict and data analyze</p>
  </div>
  <!-- <div  class="hero-date">
    <p>20.02.2019</p>
  </div> -->
  <div class="hero-btn">
    <a href="#">Learn More</a>
  </div>
</div>
{% endblock %}