nav{
    /* width:100%;
    background-color: gray;
    overflow: auto; */
    display:flex;
    width:74%;
    margin:auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;

}
/* ul{
    padding: 0;
    margin: 0 0 0 150px;
    list-style: none;
}
li{
    float: right;

} */
nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}

nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


nav ul li a:hover{
    color:red;
}

.logo{
    width: 150px;
}



/* nav a{
    width: 100px;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    font-family:Arial;
    color: brown;
    text-align: center;
}

nav a:hover{
    background:purple;
    transition: 0.5s;
    text-transform: uppercase;
} */

  